In [26]:
# reference: https://betterprogramming.pub/how-to-scrape-tweets-with-snscrape-90124ed006af

In [27]:
# ! pip install snscrape

In [28]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

In [29]:
keyword = 'Selena Gomez'
tweets_list = []

In [30]:
# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper(keyword).get_items()):
    if i>100:
        break
    tweets_list.append([tweet.date, tweet.id, tweet.user.username, tweet.content])

In [31]:
# Creating a dataframe from the tweets list above
tweets_df = pd.DataFrame(tweets_list, columns=['Datetime', 'Tweet Id', 'Username', 'Text'])

In [32]:
tweets_df.head()

,Datetime,Tweet Id,Username,Text
0,2022-05-08 15:43:23+00:00,1523327712139563009,yoryomajor,"Yo solo quiero decir \nFelíz día Selena Gomez,..."
1,2022-05-08 15:43:23+00:00,1523327711460134913,ColeMarmaduke,@selenagomez I hope you and your mother have ...
2,2022-05-08 15:41:59+00:00,1523327359620845569,seIsduv,@badgalselIy @selenagomez pls-
3,2022-05-08 15:41:08+00:00,1523327146671833089,selgcamcfanboy,HAPPY MOTHERS DAY SELENA GOMEZ https://t.co/A5...
4,2022-05-08 15:41:03+00:00,1523327125901615106,seIsduv,@theselisa @selenagomez we lost